@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #333;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}
input {
  border: none;
  outline: none;
  background: transparent;
}
img {
  display: block;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}
.wrap {
  width: 500px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

/* header */
header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  position: sticky;
  top: 0;
}
header .upper {
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding: 10px;
}
.search {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}
.search p {
  color: #bbb8b5;
}
.search img {
  width: 20px;
}
nav {
  padding: 0 18px;
  display: flex;
  align-items: center;
  gap: 14px;
}
nav a {
  display: block;
  padding: 12px 2px;
  font-size: 14px;
  color: #46433f;
  text-align: center;
}
nav > a:first-of-type {
  font-weight: bold;
  border-bottom: 2px solid #ff5833;
}
.text-animation {
  height: 40px;
  overflow: hidden;
}
nav .text-animation a {
  box-sizing: content-box;
  animation: slide 4s ease-out infinite;
}
nav .text-animation a:last-of-type {
  color: #ff5833;
}
/* main */
main {
  height: 200vw;
}
/* tab */
.tab {
  width: 500px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 9;
  transform: translateX(-50%);
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}
.tab li {
  flex: 1;
}
.tab li a {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}
.tab li img {
  transition: 0.2s;
}
.tab li img {
  filter: grayscale(1) brightness(2.8);
}
.tab li:hover img,
.tab li.on img {
  filter: unset;
  animation: tab 0.5s;
}
.tab li:hover p,
.tab li.on p {
  color: #46433f;
}
.tab li p {
  color: #bbb8b5;
}
/* cs */
.cs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;
  border-top: 1px solid #ededed;
}
.cs-desc p {
  font-size: 13px;
  color: #46433f;
}
.cs-desc span {
  font-size: 12px;
  color: #8e8e8e;
}
.cs a {
  padding: 8px 12px;
  font-size: 14px;
  color: #46433f;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-weight: 500;
}
/* footer */
footer {
  background-color: #f9f9f9;
  padding: 11px 18px 100px;
}
.footer-tit {
  padding: 12px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #46433f;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}
.footer-tit img {
  width: 13px;
}
.footer-tit.on img {
  transform: rotate(180deg);
}
.footer-desc {
  padding-top: 12px;
}
.footer-desc li {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  color: #bbb8b5;
  margin-bottom: 6px;
}
.footer-desc li.copyright {
  font-size: 13px;
  margin-bottom: 0;
}
.footer-desc li span {
  color: #5b5752;
}
.footer-desc li a {
  color: #ff5833;
}
.sns {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  padding: 4px 0;
}
.sns img {
  width: 28px;
  height: 28px;
}
.link {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.link a {
  display: block;
  position: relative;
  font-size: 13px;
  color: #8e8e8e;
}
.link a:nth-child(2) {
  color: #46433f;
}
.link a:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #8e8e8e;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* aside */
aside {
  position: fixed;
  right: calc(50% - 240px);
  bottom: 100px;
  cursor: pointer;
  display: none;
}
/* apply */
.apply {
  width: 270px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(calc(50% + 150px), -50%);
}
.apply img {
  width: 100%;
  border-radius: 12px;
}
.apply .qr {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.apply .qr img {
  width: 60px;
  margin-right: 10px;
  border-radius: 12px;
}

.apply .qr-desc p span {
  font-weight: 600;
  margin-right: 4px;
}
.apply .qr-desc > span {
  display: inline-block;
  font-size: 13px;
  padding-top: 6px;
  color: #666;
}

/* animation */
@keyframes tab {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: translateY(21px);
  }
  10% {
    transform: translateY(0);
  }
  43.333% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-42px);
  }
  75% {
    transform: translateY(-42px);
  }
  90% {
    transform: translateY(-42px);
  }
  99.99% {
    transform: translateY(-63px);
  }
  100% {
    transform: translateY(0);
  }
}
